<div>
  <select name="" id="" #mySelect (change)="onOptionsSelected(mySelect.value)">
    <option value="f_3_5_2">3-5-2</option>
    <option value="f_3_4_3">3-4-3</option>
    <option value="f_3_6_1">3-6-1</option>
    <option value="f_4_3_3_Defansif">4-3-3 Defansif</option>
    <option value="f_4_3_3_Atak">4-3-3 Atak</option>
    <option value="f_4_3_3_Normal">4-3-3</option>
    <option value="f_4_2_3_1">4-2-3-1</option>
  </select>
  <form
    [formGroup]="addPlayerForm"
    (ngSubmit)="addPlayer(playerName || '', id)"
    class="flex items-center gap-3 kisi-ekle hidden"
  >
    <input
      type="text"
      [placeholder]="'Enter name of the ' + selectedPosition"
      formControlName="playerName"
      name="playerName"
      class="border border-black"
      [(ngModel)]="playerName"
    />
    <button type="submit" class="border border-black">Submit</button>
  </form>
  <div class="flex justify-center mt-8">
    <p
      class="hidden top-[25%] top-[35%] top-[75%] top-[85%] top-[10%] left-[42%] left-[58%] left-[70%] top-[35%] top-[65%] left-[33%] left-[68%] left-[35%] top-[30%] top-[40%] top-[75%] top-[55%] top-[35%] top-[55%] top-[15%] top-[90%] top-[60%] top-[70%] top-[10%] top-[25%] left-[30%] left-[65%] left-[43%] left-[46%] left-[47%] left-[52%]"
    >
      x
    </p>
    <div class="relative flex justify-center">
      <img
        src="https://cdn.pixabay.com/photo/2017/01/31/08/32/field-2023250_960_720.png"
        alt="Pitch"
        class="lg:w-3/4 w-5/6 select-none"
      />
      <div
        (click)="toggleInput(644, 'GK')"
        class="w-10 h-10 p-0 flex select-none justify-center text-xs player-644 items-center rounded-full bg-gray-800 border border-gray-500 absolute left-[18%] top-[50%] -mt-5 text-white"
      >
        GK
      </div>
      <div
        *ngFor="let defender of data.formations[selected].defenders"
        (click)="toggleInput(defender.id, defender.name || '')"
        [class]="
          'w-10 h-10 p-0 flex justify-center text-xs items-center rounded-full bg-gray-800 border select-none border-gray-500 absolute left-[' +
          defender.left.toString() +
          '%] top-[' +
          defender.top.toString() +
          '%] -mt-5 text-white text-sm player-' +
          defender.id
        "
      >
        {{ defender.name }}
      </div>
      <div
        *ngFor="let midfield of data.formations[selected].midfielders"
        (click)="toggleInput(midfield.id, midfield.name || '')"
        [class]="
          'w-10 h-10 p-0 flex justify-center text-xs items-center rounded-full bg-gray-800 border select-none border-gray-500 absolute left-[' +
          midfield.left.toString() +
          '%] top-[' +
          midfield.top.toString() +
          '%] -mt-5 text-white text-sm player-' +
          midfield.id
        "
      >
        {{ midfield.name }}
      </div>
      <div
        *ngFor="let attacker of data.formations[selected].attackers"
        (click)="toggleInput(attacker.id, attacker.name || '')"
        [class]="
          'w-10 h-10 p-0 flex justify-center text-xs items-center rounded-full bg-gray-800 border select-none border-gray-500 absolute left-[' +
          attacker.left.toString() +
          '%] top-[' +
          attacker.top.toString() +
          '%] -mt-5 text-white text-sm player-' +
          attacker.id
        "
      >
        {{ attacker.name }}
      </div>
    </div>
  </div>
</div>
